<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta.site_name }}</title>
    <meta name="description" content="{{ meta.site_description }}">
    <meta name="author" content="{{ meta.site_author }}">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/#about">About</a>
            <a href="/#contact">Contact</a>
        </nav>
    </header>
    <main>
        <img src="/img/lauren.png" alt="{{ meta.site_name }}">
        <h1>{{ meta.site_name }}</h1>
    </main>
</body>
</html>